.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px 0 10px 0;
  background-color: #282c34;
}
.header-left {
  display: flex;
}
.header-right{
  display: flex;
}
.App-link {
  color: #61dafb;
  text-stroke: unset;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bell {
  width:20px;
  height:25px;
  margin: 8px 10px 0 0;
}
.bell:hover {
  width:20px;
  height:25px;
  margin: 8px 10px 0 0;
  opacity: 0.33;
}
.plus {
  width:25px;
  height:25px;
  margin: 8px 0 0 5px;
}
.plus:hover {
  width:25px;
  height:25px;
  margin: 8px 0px 0 5px;
  opacity: 0.33;
}
.icon {
  margin: 0 10px 0 5px;
}
.search {
  background: transparent;
  margin: 0 20px 4px 0;
  border: 1px solid;
  border-color: #5C6064;
  border-radius: 5px;

}
.li_navbar {
  list-style-type: none;
}
.title__text {
  font-size: 20px;
  line-height: 32px;
  margin: 0 20px 0 0;
  color:#ffffff;
  text-decoration: none;
}
.title__text:hover {
  font-size: 20px;
  line-height: 32px;
  margin: 0 20px 0 0;
  color:#767F87;
  text-decoration: none;
}
