.window {
    background-color: #0e1116;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0px 100px 100px 0px;
}
.login_box {
    text-align: center;
    font-size: calc(6px + 1vmin);
    background-color:#171b21 ;
    width: 20%;
    border: 1px solid;
    border-color: #22262c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
.link {
    font-size: calc(7px + 1vmin);
    color: #66a1bf;
}
.icon_login {
    font-size: calc(20px + 2vmin);
    color: #c7ced5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    -webkit-text-stroke: 2px white;
}

.form {
    display: flex;
    flex-direction: column;
}
.input_style {
    background-color: #171b21;
    font-size: calc(7px + 1vmin);
    padding-bottom: 3px;
    padding-top: 3px;
    border: 1px solid;
    border-color: #5C6064;
    border-radius: 5px;
    height: 150%;
    color: white;
}
.form__label {
    margin: 7px 0px;
    display: flex;
    justify-content: space-between;
}

.form__btn {
    background-color: #438340;
    color: white;
    border: 1px solid;
    border-color: white;
    border-radius: 5px;
    margin-top: 30px;
}
.error {
    padding: 1px;
    color: red;
    font-size: calc(3px + 1vmin);
    text-align:right;
}